{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>zkculster</title>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "zkcluster/bootstrap/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "zkcluster/font-awesome/css/font-awesome.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "zkcluster/css/style.css" %}" />
  </head>
  <body>
    <div class="page-wrap">
      <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container-fluid" id="mainMenu">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toogle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'zkcluster:index' %}">zkcluster</a>
            </div>
            {% if request.user.is_superuser %}
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li {% if request.path == '/zkcluster/dashboard/' %}class="active"{% endif %}>
                    <a href="{% url 'zkcluster:dashboard' %}">
                      <i class="fa fa-tachometer" aria-hidden="true"></i> {% trans 'Dashboard' %}
                    </a>
                  </li>
                  <li {% if request.path == '/zkcluster/terminal/' %}class="active"{% endif %}>
                    <a href="{% url 'zkcluster:terminal' %}">
                      <i class="fa fa-wrench" aria-hidden="true"></i> {% trans 'Terminal' %}
                    </a>
                  </li>
                  <li {% if request.path == '/zkcluster/user/' %}class="active"{% endif %}>
                    <a href="{% url 'zkcluster:user' %}">
                      <i class="fa fa-user" aria-hidden="true"></i> {% trans 'User' %}
                    </a>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <form action="{% url 'zkcluster:set_language' %}" method="post" style="padding-top: 15px;">
                      {% csrf_token %}
                      <input name="next" type="hidden" value="{{ redirect_to }}" />
                      <label for="id_lang" style="color: #ffffff;">{% trans 'Language' %}</label>
                      <select name="language" id="id_lang">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                          <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                              {{ language.name_local }}
                          </option>
                        {% endfor %}
                      </select>
                      <input type="submit" class="btn btn-default btn-xs" value={% trans 'Go' %} />
                    </form>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-sign-out" aria-hidden="true"></i> {% trans 'Logout' %}
                    </a>
                  </li>
                </ul>
              </div>
            {% endif %}
          </div>
        </nav>
      </div>
      <div class="container">
        {% for message in messages %}
          <div class="alert alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}">
            {{ message }}
          </div>
        {% endfor %}
        {% block content %}{% endblock %}
        {% block modal %}{% endblock %}
      </div>
    </div>
    <div class="container">
      <footer class="site-footer">{% trans 'Copyright' %} 2016 &copy; zkcluster</footer>
    </div>
    <!-- js block -->
    <script src="{% static "zkcluster/jquery/jquery-1.12.4.min.js" %}"></script>
    <script src="{% static "zkcluster/bootstrap/js/bootstrap.min.js" %}"></script>
    {% block script %}{% endblock %}
  </body>
</html>