{% extends 'zkcluster/base.html' %}

{% block content %}
  {% if terminals %}
    <div style="margin-bottom: 10px;">
      <a href="{% url 'zkcluster:terminal_add' %}">
        <button class="btn btn-default">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Terminal
        </button>
      </a>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Serial Number</th>
          <th>IP</th>
          <th>Port</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for terminal in terminals %}
          <tr>
            <th scope="row">{{ terminal.id }}</th>
            <td>{{ terminal.name }}</td>
            <td>{{ terminal.serialnumber }}</td>
            <td>{{ terminal.ip }}</td>
            <td>{{ terminal.port }}</td>
            <td style="text-align: center;">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{% url 'zkcluster:terminal_edit' terminal.id %}">
                      <i class="fa fa-edit" aria-hidden="true"></i> Edit
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-refresh" aria-hidden="true"></i> Restart
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-power-off" aria-hidden="true"></i> Power Off
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <div class="col-md-12 text-center">
        <p>No terminal found</p>
        <a href="{% url 'zkcluster:terminal_add' %}">
          <button class="btn btn-default">Add Terminal</button>
        </a>
      </div>
  {% endif %}
{% endblock %}