{% extends 'zkcluster/base.html' %}
{% load i18n %}

{% block content %}
  {% if terminals %}
    <div style="margin-bottom: 10px;">
      <a href="{% url 'zkcluster:terminal_add' %}">
        <button class="btn btn-default">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> {% trans 'Add Terminal' %}
        </button>
      </a>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>{% trans 'ID' %}</th>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Serial Number' %}</th>
          <th>{% trans 'IP' %}</th>
          <th>{% trans 'Port' %}</th>
          <th>{% trans 'Action' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for terminal in terminals %}
          <form id="form_restart" method="POST" action="{% url 'zkcluster:terminal_action' 'restart' terminal.id %}">
            {% csrf_token %}
          </form>
          <form id="form_poweroff" method="POST" action="{% url 'zkcluster:terminal_action' 'poweroff' terminal.id %}">
            {% csrf_token %}
          </form>
          <form id="form_voice" method="POST" action="{% url 'zkcluster:terminal_action' 'voice' terminal.id %}">
            {% csrf_token %}
          </form>
          <tr>
            <th scope="row">{{ terminal.id }}</th>
            <td>{{ terminal.name }}</td>
            <td>{{ terminal.serialnumber }}</td>
            <td>{{ terminal.ip }}</td>
            <td>{{ terminal.port }}</td>
            <td style="text-align: center;">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  {% trans 'Action' %} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{% url 'zkcluster:terminal_action' 'edit' terminal.id %}">
                      <i class="fa fa-edit" aria-hidden="true"></i> {% trans 'Edit' %}
                    </a>
                  </li>
                  <li>
                    <a href="#" class="zk_action" id="action_restart">
                      <i class="fa fa-refresh" aria-hidden="true"></i> {% trans 'Restart' %}
                    </a>
                  </li>
                  <li>
                    <a href="#" class="zk_action" id="action_poweroff">
                      <i class="fa fa-power-off" aria-hidden="true"></i> {% trans 'Power Off' %}
                    </a>
                  </li>
                  <li>
                    <a href="#" class="zk_action" id="action_voice">
                      <i class="fa fa-volume-up" aria-hidden="true"></i> {% trans 'Test Sound' %}
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <div class="col-md-12 text-center">
        <p>{% trans 'No terminal found' %}</p>
        <a href="{% url 'zkcluster:terminal_add' %}">
          <button class="btn btn-default">{% trans 'Add Terminal' %}</button>
        </a>
      </div>
  {% endif %}
{% endblock %}

{% block script %}
  <script>
    $('.zk_action').click(function(){
      var action_id = $(this).attr('id');
      switch(action_id){
        case "action_restart":
          $("#form_restart").submit();
          break;
        case "action_poweroff":
          $("#form_poweroff").submit();
          break;
        case "action_voice":
          $("#form_voice").submit();
          break;
      };
    });
  </script>
{% endblock %}