{% extends 'zkcluster/base.html' %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <a data-toggle="tab" href="#edit">{% trans 'Edit' %}</a>
        </li>
        <li>
          <a data-toggle="tab" href="#action">{% trans 'Action' %}</a>
        </li>
        <li>
          <a data-toggle="tab" href="#danger">{% trans 'Danger Zone' %}</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 tab-content">
      <div id="edit" class="tab-pane fade in active">
        <div class="panel panel-primary">
          <div class="panel-heading">Terminal : {{ terminal.name }}</div>
        <div class="panel-body">
          <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.email.auto_id }}">{{ form.ip.label }}</label>
              <span class="error">{{ form.ip.errors.0 }}</span>
              {{ form.ip }}
            </div>
            <div class="form-group">
              <label for="{{ form.port.auto_id }}">{{ form.port.label }}</label>
              <span class="error">{{ form.port.errors.0 }}</span>
              {{ form.port }}
            </div>
            <div class="form-group">
              <label for="{{ form.serialnumber.auto_id }}">{{ form.serialnumber.label }}</label>
              <span class="error">{{ form.serialnumber.errors.0 }}</span>
              {{ form.serialnumber }}
            </div>
            <div class="form-group">
              <label for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
              <span class="error">{{ form.name.errors.0 }}</span>
              {{ form.name }}
            </div>
            <div class="center">
              <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
            </div>
          </form>
        </div>
        </div>
      </div>
      <div id="action" class="tab-pane fade in">
        <div class="panel panel-success">
          <div class="panel-heading">{% trans 'Restart Terminal' %} : {{ terminal.name }}</div>
          <div class="panel-body center">
            <button class="btn btn-success">{% trans 'Restart' %}</button>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">{% trans 'Shutdown Terminal' %} : {{ terminal.name }}</div>
          <div class="panel-body center">
            <button class="btn btn-default">{% trans 'Power off' %}</button>
          </div>
        </div>
      </div>
      <div id="danger" class="tab-pane fade in">
        <div class="panel panel-danger">
          <div class="panel-heading">Delete All User : {{ terminal.name }}</div>
          <div class="panel-body center">
            <button class="btn btn-danger">{% trans 'Delete' %}</button>
          </div>
        </div>
        <div class="panel panel-danger">
          <div class="panel-heading">{% trans 'Delete Terminal' %} : {{ terminal.name }}</div>
          <div class="panel-body center">
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirm">{% trans 'Delete' %}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block modal %}
<!-- delete confirmation -->
<div id="deleteConfirm" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{% trans 'Are you ABSOLUTELY sure?' %}</h4>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'zkcluster:terminal_delete' terminal.id %}">
          {% csrf_token %}
          <div class="form-group">
            <span>
              {% trans 'This action' %} <b>{% trans 'CANNOT' %}</b> {% trans 'be undone' %}. {% trans 'This will permanently delete the' %} <b>{{ terminal.name }}</b> {% trans 'include the all related user of them' %}.
            </span>
            <br/>
            <label for="name">
              {% trans 'Please type in the name of the terminal to confirm' %}
            </label>
            <input autocomplete="off" class="form-control" id="field_confirm" name="name" type="text"/>
          </div>
        </form>
      </div>
      <div class="modal-footer center">
        <button type="button" id="buttonConfirm" class="btn btn-danger" data-dismiss="modal" disabled>
          {% trans 'I understand the consequences, delete this repository' %}
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <script>
    var terminal_name = '{{ terminal.name }}';
    $('#deleteConfirm').on('shown.bs.modal', function () {
      $('#field_confirm').focus();
    });
    $('#field_confirm').on('input', function() {
      var name = $('#field_confirm').val();
      if (terminal_name == name){
        $('#buttonConfirm').prop('disabled', false);
      } else {
        $('#buttonConfirm').prop('disabled', true);
      };
    });
  </script>
{% endblock %}