{% extends 'zkcluster/base.html' %}
{% load i18n %}

{% block content %}
  {% if users %}
    <div style="margin-bottom: 10px;">
      <a href="{% url 'zkcluster:user_add' %}">
        <button class="btn btn-default">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> {% trans 'Add User' %}
        </button>
      </a>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>{% trans 'ID' %}</th>
          <th>{% trans 'UID' %}</th>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Privilege' %}</th>
          <th>{% trans 'Terminal' %}</th>
          <th>{% trans 'Action' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.uid }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.get_privilege_name }}</td>
            <td>{{ user.terminal }}</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  {% trans 'Action' %} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{% url 'zkcluster:user_action' 'edit' user.id %}">
                      <i class="fa fa-edit" aria-hidden="true"></i> {% trans 'Edit' %}
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <div class="col-md-12 text-center">
        <p>{% trans 'No user found' %}</p>
        <a href="{% url 'zkcluster:user_add' %}">
          <button class="btn btn-default">{% trans 'Add User' %}</button>
        </a>
      </div>
  {% endif %}
{% endblock %}