* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 50px; 
}
.site-footer {
  padding-top: 20px;
  text-align: center;
  background: #f8f8f8;
  font-weight: bold;
}

.error {
  color: red;
}

.center {
  text-align: center;
}